[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
flask-jwt-extended = "*"
supabase = "*"
xendit-python = "*"
python-dateutil = "*"
flask-socketio = "*"
eventlet = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.12"
